<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar>
    <span>{{title}}</span>
</mat-toolbar>
 
<mat-tab-group>
  <mat-tab label="About">
    <h1>Hi, I'm Tom. </h1>
    <p>
        I'm a graduate of Computer Science at Goldsmiths, University of London.  
        Developer for the Units Loot App. Fan of cinema and reading fiction, PC enthusiast and general tinkerer.
    </p>
  </mat-tab>
  <mat-tab label="Projects">
    <h1>Here are some things I've done:</h1>
    <h2>Units Loot App</h2>
    <p>Companion app to the Units: Loot System table-top rpg loot cards. Cards come with QR codes to scan and use as a virtual inventory, item lookup and gateway to relevant game-system statistics. Developed in Unity, primarly using C# and SQLite.</p>
      <mat-divider></mat-divider>
    <h2>Dissertation: Generating Movie Reviews</h2>
    <p>An exploration of methods for generating prose about movies. Using various methods and sources of data about film - descriptions, reviews and metadata, I attempted to create texts about films using Markov chains, templated bodies of text, NLG methodology and sentiment analysis. I created a small wordpress-style blog website and a twitter bot to attempt to foster some outside interraction with the generated works and see how people would respond.</p>
  </mat-tab>
  <mat-tab label="Edu/Skills">
    <div>
<h1>Skills</h1>
    <p>Programming languages: Java, C#, Python, JavaScript</p>
    <p>Other tools: MySQL, SQLite, Git</p>
</div>
<mat-divider></mat-divider>
<div>
    <h1>Education</h1>
    <h2>BSc Computer Science - Goldsmiths, University of London</h2>
    <p>First Class with honours, 84%. Third year modules: Data Mining, Machine Learning, Computer Security and Artificial Intelligence</p>
    
    <h2>Prior</h2>
    <p>A-Levels in Maths w/ Statistics, Computing, Psychology. As level in English Language. 10 GCSEs, A*-C.</p>
</div>
    
  </mat-tab>
</mat-tab-group>
